*{
    padding:0;
    margin:0;
    font-family: 'Creepster', cursive;
}

@mixin infoStyle {
    font-size: 25px;
    color: white;  
}
.matchedCards{
    z-index: -1;
}
body{
    background-image: url(/images/background.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 100px 50px black;
}
.start-screen{
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.918);
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    .start-screen-content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .start-text{
            text-align: center;
            width: 100%;
            font-size: 50px;
            color: rgb(255, 188, 4);
        }
        .difficulty{
            display: flex;
            justify-content: space-evenly;
            margin-right: auto;
            margin-left: auto;
            width: 60%;
            font-size: 40px;
            color:white;

            div{
                cursor:pointer;
                transition: 500ms;
                &:hover{
                    color:rgb(0, 71, 165)
                }
            }
            .difficulty-style{
                color: rgb(0, 105, 241);
            }
        }
        .start-button{
            text-align: center;
            width: 100%;
            #start-btn{
                color: white;
                cursor:pointer;
                background-color: transparent;
                border:none;
                outline:none;
                transition: 500ms;
                padding:10px 20px;
                font-size: 70px;

                &:hover{
                    color: rgb(187, 0, 0);
                }
            }
        }
    }
}
.container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-container{
        opacity: 0;
        width: 670px;
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        flex-wrap: wrap;
        img{
            cursor:pointer;
            width: 100px;
            height: 150px;
            border-radius: 10px;
            transition: 300ms;
            &:hover{
                box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.644);
            }
        }
    }
    .info{
        display: none;
        width: 200px;
        height: auto;

        .sub-info{
            padding: 30px 0;
            height: 25%;
            text-align: center;
            .text{
                @include infoStyle;
                
            
            }
            #timetext{
                @include infoStyle;
            }
            #totalclicks{
                @include infoStyle;
            }
            .match-cuantity{
                @include infoStyle;
            }
            #restartBtn{
                font-size: 45px;
                color: white;
                background:transparent;
                border:none;
                outline: none;
                cursor:pointer;
                padding: 10px 20px;
                &:hover{
                    transition: all 500ms;
                    color: red;
                }
            }
        }
    }
}
@media (max-width: 780px) {
    .start-screen{
        width: 100%;
        height: 100%;

        .start-screen-content{
            
            
            .difficulty{
                font-size: 35px;
                width: 90%;
            }
        }
    }
    .container{
       height: 100%;

        flex-direction: column;
        .card-container{
            width: 95%;

            img{
                width: 20%;
                height: auto;
            }

        }
        .info{
            margin-top: 30px;
            width: 100%;
            height: auto;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .sub-info{
                padding:0;
            }
            .restart{
                flex-basis: 100%;
                height: 0;
            }
        }
    }

}
